In [ ]:
import pandas as pd

In [ ]:
lst=[]
df=pd.read_csv("airplane.csv")

In [60]:
df

,countrycode,drawing,key_id,recognized,timestamp,word,idxe
0,US,"[[[183, 178, 174, 169, 162, 156, 149, 142, 135...",5152802093400064,True,2017-03-08 21:12:07.266040,airplane,lst0
1,CA,"[[[785, 787, 796, 812, 815, 820, 827, 834, 852...",6622904974311424,False,2017-03-06 21:39:04.690130,airplane,lst1
2,US,"[[[586, 586, 584, 583, 582, 581, 580, 580, 580...",6577010312740864,True,2017-03-23 02:08:35.229980,airplane,lst2
3,US,"[[[539, 532, 526, 519, 513, 508, 502, 495, 490...",5643224746033152,True,2017-03-10 00:35:17.531970,airplane,lst3
4,IL,"[[[217, 212, 201, 186, 165, 142, 121, 100, 78,...",6670046841536512,True,2017-01-23 18:11:11.658170,airplane,lst4
5,US,"[[[639, 631, 619, 601, 574, 539, 498, 456, 410...",5509429904539648,True,2017-03-02 19:06:55.494650,airplane,lst5
6,CZ,"[[[605, 604, 604, 602, 602, 602, 601, 601, 601...",4885112569200640,True,2017-03-27 19:32:38.753680,airplane,lst6
7,AU,"[[[278, 271, 264, 259, 253, 245, 235, 225, 212...",5445677096108032,True,2017-03-29 09:25:50.212600,airplane,lst7
8,MY,"[[[417, 417, 416, 416, 416, 416, 417, 417, 420...",6687207765049344,True,2017-03-25 10:17:56.501990,airplane,lst8
9,BR,"[[[510, 516, 522, 527, 533, 539, 549, 554, 560...",5838857872343040,True,2017-03-15 23:26:35.328150,airplane,lst9
10,US,"[[[589, 496, 481, 466, 450, 435, 421, 408, 395...",5593589151170560,True,2017-03-11 02:19:18.397340,airplane,lst10
11,AU,"[[[116.66667175292969, 116.66667175292969, 116...",4927566257324032,False,2017-03-01 02:33:27.642600,airplane,lst11
12,US,"[[[713, 705, 699, 693, 685, 677, 651, 642, 632...",5513603237019648,True,2017-03-06 23:29:59.595870,airplane,lst12
13,US,"[[[697, 703, 709, 717, 725, 735, 746, 756, 767...",5612701638197248,True,2017-03-29 15:08:20.316210,airplane,lst13
14,US,"[[[65, 62.62200164794922, 67.00800323486328, 7...",6338325143093248,True,2017-01-29 15:53:16.244500,airplane,lst14
15,GB,"[[[142.5, 146.29600524902344, 152.542007446289...",4984446795120640,True,2017-01-23 12:22:11.982760,airplane,lst15
16,US,"[[[171, 173, 176, 180, 183, 186, 191, 194, 199...",5104414589190144,True,2017-03-07 17:27:35.216880,airplane,lst16
17,RU,"[[[391, 372, 363, 358, 353, 348, 343, 337, 328...",6409561047040000,True,2017-03-18 12:34:36.612080,airplane,lst17
18,SK,"[[[201, 202, 202, 203, 204, 205, 205, 205, 206...",5164578105196544,True,2017-03-22 21:53:51.304860,airplane,lst18
19,DE,"[[[313.14300537109375, 309.927001953125, 305.7...",4599093840052224,True,2017-01-28 10:19:09.226990,airplane,lst19
20,US,"[[[796, 791, 779, 770, 762, 754, 745, 735, 724...",4888115745390592,True,2017-01-26 01:47:20.068880,airplane,lst20
21,CA,"[[[549, 542, 534, 526, 518, 511, 504, 497, 490...",6062602146807808,True,2017-03-29 00:05:25.074560,airplane,lst21
22,GB,"[[[153.5, 148.5240020751953, 143.1679992675781...",5390329924550656,False,2017-03-03 21:26:48.860360,airplane,lst22
23,NO,"[[[1275, 1259, 1253, 1208, 1203, 1198, 1146, 1...",4629979700658176,True,2017-03-27 08:48:56.892730,airplane,lst23
24,US,"[[[58, 66, 71, 78, 84, 92, 100, 109, 117, 126,...",5474363648245760,True,2017-01-24 17:49:42.722840,airplane,lst24
25,IN,"[[[156, 154, 153, 152, 150, 148, 145, 143, 141...",4557785863815168,True,2017-03-28 04:42:20.886090,airplane,lst25
26,US,"[[[360, 367, 372, 377, 382, 387, 393, 400, 406...",5876857482248192,True,2017-01-23 04:53:04.899860,airplane,lst26
27,US,"[[[650, 655, 660, 665, 670, 676, 682, 687, 692...",5093587060523008,True,2017-03-25 17:59:44.690560,airplane,lst27
28,KR,"[[[105.85299682617188, 163.49899291992188, 174...",5306481106747392,True,2017-03-19 11:22:52.571940,airplane,lst28
29,US,"[[[694.0869750976562, 679.0250244140625, 658.1...",5119431657127936,True,2017-03-15 17:33:30.815240,airplane,lst29
...,...,...,...,...,...,...,...
151593,IT,"[[[77, 83, 93, 101, 110, 122, 130, 139, 149, 1...",5300054946480128,True,2017-03-04 15:07:20.368010,airplane,lst151593
151594,US,"[[[360, 367, 376, 381, 386, 392, 398, 404, 410...",5111690167320576,True,2017-01-26 16:53:37.157100,airplane,lst151594
151595,US,"[[[518, 527, 552, 578, 596, 616, 633, 644, 659...",5170703097659392,True,2017-03-17 14:05:26.082400,airplane,lst151595
151596,US,"[[[1026, 1026, 1025, 1025, 1025, 1024, 1024, 1...",5941637513478144,True,2017-03-16 21:28:31.367890,airplane,lst151596
151597,US,"[[[278, 299, 317, 338, 361, 387, 410, 434, 455...",6193052651618304,True,2017-03-28 16:49:35.639800,airplane,lst151597
151598,KH,"[[[36.59000015258789, 43.12300109863281, 52.96...",5168938419748864,True,2017-03-05 23:04:34.066080,airplane,lst151598
151599,AU,"[[[147, 145, 142, 140, 139, 137, 136, 135, 134...",4570544802365440,True,2017-03-24 22:14:23.571900,airplane,lst151599
151600,US,"[[[378, 375, 375, 378, 382, 386, 388, 391, 393...",5943320658313216,True,2017-01-23 17:39:27.692910,airplane,lst151600
151601,GB,"[[[852, 857, 865, 878, 898, 938, 991, 1073, 11...",5631459018670080,False,2017-03-08 14:08:34.941510,airplane,lst151601
151602,GB,"[[[283, 280, 281, 282, 284, 286, 288, 291, 294...",4525080308613120,True,2017-03-01 17:47:03.897090,airplane,lst151602
151603,MX,"[[[36, 36.66699981689453, 43.05500030517578, 4...",5491163307966464,True,2017-03-09 20:50:31.341090,airplane,lst151603
151604,US,"[[[253, 261, 267, 275, 285, 297, 308, 323, 340...",6283024251486208,True,2017-01-23 01:23:09.162340,airplane,lst151604
151605,US,"[[[369, 363, 356, 350, 343, 335, 327, 322, 315...",5264797157294080,False,2017-03-02 15:57:33.189000,airplane,lst151605
151606,PH,"[[[717, 702, 696, 691, 682, 675, 666, 661, 655...",6285552208838656,True,2017-01-27 07:20:17.233700,airplane,lst151606
151607,US,"[[[620.468994140625, 612.1389770507812, 600.42...",5875178552688640,True,2017-01-29 04:17:24.425490,airplane,lst151607
151608,TW,"[[[545, 538, 531, 525, 516, 509, 499, 492, 485...",5578965206958080,True,2017-03-29 06:22:12.681730,airplane,lst151608
151609,US,"[[[281, 286, 291, 296, 301, 308, 314, 319, 325...",5298908324429824,True,2017-03-03 14:29:32.473020,airplane,lst151609
151610,TR,"[[[533, 539, 544, 554, 559, 565, 572, 581, 588...",6215134672322560,True,2017-03-15 12:15:19.121640,airplane,lst151610
151611,US,"[[[775.6699829101562, 771.0679931640625, 766.8...",6257754152894464,True,2017-03-21 14:27:29.594390,airplane,lst151611
151612,AU,"[[[321, 311, 302, 294, 285, 276, 268, 268], [5...",5056955099906048,False,2017-03-06 00:05:20.539760,airplane,lst151612
151613,US,"[[[637, 643, 649, 658, 671, 686, 699, 711, 720...",5211386235846656,True,2017-03-16 17:12:37.668000,airplane,lst151613
151614,CR,"[[[476, 481, 492, 497, 508, 516, 521, 532, 542...",5053457759207424,True,2017-01-28 22:53:11.934090,airplane,lst151614
151615,GB,"[[[211.70599365234375, 202.66000366210938, 191...",6080648911519744,True,2017-03-10 19:58:28.132620,airplane,lst151615
151616,US,"[[[507, 502, 490, 478, 468, 449, 438, 427, 409...",5292518658801664,True,2017-01-28 02:49:23.222820,airplane,lst151616
151617,US,"[[[674, 679, 684, 690, 698, 706, 715, 724, 732...",5303271306559488,False,2017-03-05 01:56:12.343240,airplane,lst151617
151618,US,"[[[522, 512, 505, 501, 497, 494, 492, 490, 488...",5493275190362112,True,2017-03-02 14:53:50.225510,airplane,lst151618
151619,PH,"[[[362, 363, 367, 375, 381, 387, 394, 412, 420...",4804582200836096,True,2017-03-29 15:40:12.818540,airplane,lst151619
151620,IE,"[[[206.14199829101562, 200.9720001220703, 194....",6511303608762368,True,2017-01-24 21:11:31.576440,airplane,lst151620
151621,US,"[[[252, 242, 235, 226, 220, 215, 209, 203, 197...",4731074292744192,True,2017-01-25 16:45:20.333770,airplane,lst151621
151622,ES,"[[[570, 565, 559, 552, 546, 537, 532, 525, 519...",6323583485739008,True,2017-03-21 12:04:31.544430,airplane,lst151622

In [57]:
df['countrycode']

0         US
1         CA
2         US
3         US
4         IL
5         US
6         CZ
7         AU
8         MY
9         BR
10        US
11        AU
12        US
13        US
14        US
15        GB
16        US
17        RU
18        SK
19        DE
20        US
21        CA
22        GB
23        NO
24        US
25        IN
26        US
27        US
28        KR
29        US
          ..
151593    IT
151594    US
151595    US
151596    US
151597    US
151598    KH
151599    AU
151600    US
151601    GB
151602    GB
151603    MX
151604    US
151605    US
151606    PH
151607    US
151608    TW
151609    US
151610    TR
151611    US
151612    AU
151613    US
151614    CR
151615    GB
151616    US
151617    US
151618    US
151619    PH
151620    IE
151621    US
151622    ES
Name: countrycode, Length: 151623, dtype: object

In [58]:
df[['countrycode','drawing','word']]

,countrycode,drawing,word
0,US,"[[[183, 178, 174, 169, 162, 156, 149, 142, 135...",airplane
1,CA,"[[[785, 787, 796, 812, 815, 820, 827, 834, 852...",airplane
2,US,"[[[586, 586, 584, 583, 582, 581, 580, 580, 580...",airplane
3,US,"[[[539, 532, 526, 519, 513, 508, 502, 495, 490...",airplane
4,IL,"[[[217, 212, 201, 186, 165, 142, 121, 100, 78,...",airplane
5,US,"[[[639, 631, 619, 601, 574, 539, 498, 456, 410...",airplane
6,CZ,"[[[605, 604, 604, 602, 602, 602, 601, 601, 601...",airplane
7,AU,"[[[278, 271, 264, 259, 253, 245, 235, 225, 212...",airplane
8,MY,"[[[417, 417, 416, 416, 416, 416, 417, 417, 420...",airplane
9,BR,"[[[510, 516, 522, 527, 533, 539, 549, 554, 560...",airplane
10,US,"[[[589, 496, 481, 466, 450, 435, 421, 408, 395...",airplane
11,AU,"[[[116.66667175292969, 116.66667175292969, 116...",airplane
12,US,"[[[713, 705, 699, 693, 685, 677, 651, 642, 632...",airplane
13,US,"[[[697, 703, 709, 717, 725, 735, 746, 756, 767...",airplane
14,US,"[[[65, 62.62200164794922, 67.00800323486328, 7...",airplane
15,GB,"[[[142.5, 146.29600524902344, 152.542007446289...",airplane
16,US,"[[[171, 173, 176, 180, 183, 186, 191, 194, 199...",airplane
17,RU,"[[[391, 372, 363, 358, 353, 348, 343, 337, 328...",airplane
18,SK,"[[[201, 202, 202, 203, 204, 205, 205, 205, 206...",airplane
19,DE,"[[[313.14300537109375, 309.927001953125, 305.7...",airplane
20,US,"[[[796, 791, 779, 770, 762, 754, 745, 735, 724...",airplane
21,CA,"[[[549, 542, 534, 526, 518, 511, 504, 497, 490...",airplane
22,GB,"[[[153.5, 148.5240020751953, 143.1679992675781...",airplane
23,NO,"[[[1275, 1259, 1253, 1208, 1203, 1198, 1146, 1...",airplane
24,US,"[[[58, 66, 71, 78, 84, 92, 100, 109, 117, 126,...",airplane
25,IN,"[[[156, 154, 153, 152, 150, 148, 145, 143, 141...",airplane
26,US,"[[[360, 367, 372, 377, 382, 387, 393, 400, 406...",airplane
27,US,"[[[650, 655, 660, 665, 670, 676, 682, 687, 692...",airplane
28,KR,"[[[105.85299682617188, 163.49899291992188, 174...",airplane
29,US,"[[[694.0869750976562, 679.0250244140625, 658.1...",airplane
...,...,...,...
151593,IT,"[[[77, 83, 93, 101, 110, 122, 130, 139, 149, 1...",airplane
151594,US,"[[[360, 367, 376, 381, 386, 392, 398, 404, 410...",airplane
151595,US,"[[[518, 527, 552, 578, 596, 616, 633, 644, 659...",airplane
151596,US,"[[[1026, 1026, 1025, 1025, 1025, 1024, 1024, 1...",airplane
151597,US,"[[[278, 299, 317, 338, 361, 387, 410, 434, 455...",airplane
151598,KH,"[[[36.59000015258789, 43.12300109863281, 52.96...",airplane
151599,AU,"[[[147, 145, 142, 140, 139, 137, 136, 135, 134...",airplane
151600,US,"[[[378, 375, 375, 378, 382, 386, 388, 391, 393...",airplane
151601,GB,"[[[852, 857, 865, 878, 898, 938, 991, 1073, 11...",airplane
151602,GB,"[[[283, 280, 281, 282, 284, 286, 288, 291, 294...",airplane
151603,MX,"[[[36, 36.66699981689453, 43.05500030517578, 4...",airplane
151604,US,"[[[253, 261, 267, 275, 285, 297, 308, 323, 340...",airplane
151605,US,"[[[369, 363, 356, 350, 343, 335, 327, 322, 315...",airplane
151606,PH,"[[[717, 702, 696, 691, 682, 675, 666, 661, 655...",airplane
151607,US,"[[[620.468994140625, 612.1389770507812, 600.42...",airplane
151608,TW,"[[[545, 538, 531, 525, 516, 509, 499, 492, 485...",airplane
151609,US,"[[[281, 286, 291, 296, 301, 308, 314, 319, 325...",airplane
151610,TR,"[[[533, 539, 544, 554, 559, 565, 572, 581, 588...",airplane
151611,US,"[[[775.6699829101562, 771.0679931640625, 766.8...",airplane
151612,AU,"[[[321, 311, 302, 294, 285, 276, 268, 268], [5...",airplane
151613,US,"[[[637, 643, 649, 658, 671, 686, 699, 711, 720...",airplane
151614,CR,"[[[476, 481, 492, 497, 508, 516, 521, 532, 542...",airplane
151615,GB,"[[[211.70599365234375, 202.66000366210938, 191...",airplane
151616,US,"[[[507, 502, 490, 478, 468, 449, 438, 427, 409...",airplane
151617,US,"[[[674, 679, 684, 690, 698, 706, 715, 724, 732...",airplane
151618,US,"[[[522, 512, 505, 501, 497, 494, 492, 490, 488...",airplane
151619,PH,"[[[362, 363, 367, 375, 381, 387, 394, 412, 420...",airplane
151620,IE,"[[[206.14199829101562, 200.9720001220703, 194....",airplane
151621,US,"[[[252, 242, 235, 226, 220, 215, 209, 203, 197...",airplane
151622,ES,"[[[570, 565, 559, 552, 546, 537, 532, 525, 519...",airplane

In [ ]:
for i in range(0,len(df)):
    lst.append('lst'+str(i))

In [33]:
df['idxe']=lst

In [35]:
df_r=df.set_index('idxe')

In [59]:
df_r

,countrycode,drawing,key_id,recognized,timestamp,word
idxe,,,,,,
lst0,US,"[[[183, 178, 174, 169, 162, 156, 149, 142, 135...",5152802093400064,True,2017-03-08 21:12:07.266040,airplane
lst1,CA,"[[[785, 787, 796, 812, 815, 820, 827, 834, 852...",6622904974311424,False,2017-03-06 21:39:04.690130,airplane
lst2,US,"[[[586, 586, 584, 583, 582, 581, 580, 580, 580...",6577010312740864,True,2017-03-23 02:08:35.229980,airplane
lst3,US,"[[[539, 532, 526, 519, 513, 508, 502, 495, 490...",5643224746033152,True,2017-03-10 00:35:17.531970,airplane
lst4,IL,"[[[217, 212, 201, 186, 165, 142, 121, 100, 78,...",6670046841536512,True,2017-01-23 18:11:11.658170,airplane
lst5,US,"[[[639, 631, 619, 601, 574, 539, 498, 456, 410...",5509429904539648,True,2017-03-02 19:06:55.494650,airplane
lst6,CZ,"[[[605, 604, 604, 602, 602, 602, 601, 601, 601...",4885112569200640,True,2017-03-27 19:32:38.753680,airplane
lst7,AU,"[[[278, 271, 264, 259, 253, 245, 235, 225, 212...",5445677096108032,True,2017-03-29 09:25:50.212600,airplane
lst8,MY,"[[[417, 417, 416, 416, 416, 416, 417, 417, 420...",6687207765049344,True,2017-03-25 10:17:56.501990,airplane
lst9,BR,"[[[510, 516, 522, 527, 533, 539, 549, 554, 560...",5838857872343040,True,2017-03-15 23:26:35.328150,airplane
lst10,US,"[[[589, 496, 481, 466, 450, 435, 421, 408, 395...",5593589151170560,True,2017-03-11 02:19:18.397340,airplane
lst11,AU,"[[[116.66667175292969, 116.66667175292969, 116...",4927566257324032,False,2017-03-01 02:33:27.642600,airplane
lst12,US,"[[[713, 705, 699, 693, 685, 677, 651, 642, 632...",5513603237019648,True,2017-03-06 23:29:59.595870,airplane
lst13,US,"[[[697, 703, 709, 717, 725, 735, 746, 756, 767...",5612701638197248,True,2017-03-29 15:08:20.316210,airplane
lst14,US,"[[[65, 62.62200164794922, 67.00800323486328, 7...",6338325143093248,True,2017-01-29 15:53:16.244500,airplane
lst15,GB,"[[[142.5, 146.29600524902344, 152.542007446289...",4984446795120640,True,2017-01-23 12:22:11.982760,airplane
lst16,US,"[[[171, 173, 176, 180, 183, 186, 191, 194, 199...",5104414589190144,True,2017-03-07 17:27:35.216880,airplane
lst17,RU,"[[[391, 372, 363, 358, 353, 348, 343, 337, 328...",6409561047040000,True,2017-03-18 12:34:36.612080,airplane
lst18,SK,"[[[201, 202, 202, 203, 204, 205, 205, 205, 206...",5164578105196544,True,2017-03-22 21:53:51.304860,airplane
lst19,DE,"[[[313.14300537109375, 309.927001953125, 305.7...",4599093840052224,True,2017-01-28 10:19:09.226990,airplane
lst20,US,"[[[796, 791, 779, 770, 762, 754, 745, 735, 724...",4888115745390592,True,2017-01-26 01:47:20.068880,airplane
lst21,CA,"[[[549, 542, 534, 526, 518, 511, 504, 497, 490...",6062602146807808,True,2017-03-29 00:05:25.074560,airplane
lst22,GB,"[[[153.5, 148.5240020751953, 143.1679992675781...",5390329924550656,False,2017-03-03 21:26:48.860360,airplane
lst23,NO,"[[[1275, 1259, 1253, 1208, 1203, 1198, 1146, 1...",4629979700658176,True,2017-03-27 08:48:56.892730,airplane
lst24,US,"[[[58, 66, 71, 78, 84, 92, 100, 109, 117, 126,...",5474363648245760,True,2017-01-24 17:49:42.722840,airplane
lst25,IN,"[[[156, 154, 153, 152, 150, 148, 145, 143, 141...",4557785863815168,True,2017-03-28 04:42:20.886090,airplane
lst26,US,"[[[360, 367, 372, 377, 382, 387, 393, 400, 406...",5876857482248192,True,2017-01-23 04:53:04.899860,airplane
lst27,US,"[[[650, 655, 660, 665, 670, 676, 682, 687, 692...",5093587060523008,True,2017-03-25 17:59:44.690560,airplane
lst28,KR,"[[[105.85299682617188, 163.49899291992188, 174...",5306481106747392,True,2017-03-19 11:22:52.571940,airplane
lst29,US,"[[[694.0869750976562, 679.0250244140625, 658.1...",5119431657127936,True,2017-03-15 17:33:30.815240,airplane
...,...,...,...,...,...,...
lst151593,IT,"[[[77, 83, 93, 101, 110, 122, 130, 139, 149, 1...",5300054946480128,True,2017-03-04 15:07:20.368010,airplane
lst151594,US,"[[[360, 367, 376, 381, 386, 392, 398, 404, 410...",5111690167320576,True,2017-01-26 16:53:37.157100,airplane
lst151595,US,"[[[518, 527, 552, 578, 596, 616, 633, 644, 659...",5170703097659392,True,2017-03-17 14:05:26.082400,airplane
lst151596,US,"[[[1026, 1026, 1025, 1025, 1025, 1024, 1024, 1...",5941637513478144,True,2017-03-16 21:28:31.367890,airplane
lst151597,US,"[[[278, 299, 317, 338, 361, 387, 410, 434, 455...",6193052651618304,True,2017-03-28 16:49:35.639800,airplane
lst151598,KH,"[[[36.59000015258789, 43.12300109863281, 52.96...",5168938419748864,True,2017-03-05 23:04:34.066080,airplane
lst151599,AU,"[[[147, 145, 142, 140, 139, 137, 136, 135, 134...",4570544802365440,True,2017-03-24 22:14:23.571900,airplane
lst151600,US,"[[[378, 375, 375, 378, 382, 386, 388, 391, 393...",5943320658313216,True,2017-01-23 17:39:27.692910,airplane
lst151601,GB,"[[[852, 857, 865, 878, 898, 938, 991, 1073, 11...",5631459018670080,False,2017-03-08 14:08:34.941510,airplane
lst151602,GB,"[[[283, 280, 281, 282, 284, 286, 288, 291, 294...",4525080308613120,True,2017-03-01 17:47:03.897090,airplane
lst151603,MX,"[[[36, 36.66699981689453, 43.05500030517578, 4...",5491163307966464,True,2017-03-09 20:50:31.341090,airplane
lst151604,US,"[[[253, 261, 267, 275, 285, 297, 308, 323, 340...",6283024251486208,True,2017-01-23 01:23:09.162340,airplane
lst151605,US,"[[[369, 363, 356, 350, 343, 335, 327, 322, 315...",5264797157294080,False,2017-03-02 15:57:33.189000,airplane
lst151606,PH,"[[[717, 702, 696, 691, 682, 675, 666, 661, 655...",6285552208838656,True,2017-01-27 07:20:17.233700,airplane
lst151607,US,"[[[620.468994140625, 612.1389770507812, 600.42...",5875178552688640,True,2017-01-29 04:17:24.425490,airplane
lst151608,TW,"[[[545, 538, 531, 525, 516, 509, 499, 492, 485...",5578965206958080,True,2017-03-29 06:22:12.681730,airplane
lst151609,US,"[[[281, 286, 291, 296, 301, 308, 314, 319, 325...",5298908324429824,True,2017-03-03 14:29:32.473020,airplane
lst151610,TR,"[[[533, 539, 544, 554, 559, 565, 572, 581, 588...",6215134672322560,True,2017-03-15 12:15:19.121640,airplane
lst151611,US,"[[[775.6699829101562, 771.0679931640625, 766.8...",6257754152894464,True,2017-03-21 14:27:29.594390,airplane
lst151612,AU,"[[[321, 311, 302, 294, 285, 276, 268, 268], [5...",5056955099906048,False,2017-03-06 00:05:20.539760,airplane
lst151613,US,"[[[637, 643, 649, 658, 671, 686, 699, 711, 720...",5211386235846656,True,2017-03-16 17:12:37.668000,airplane
lst151614,CR,"[[[476, 481, 492, 497, 508, 516, 521, 532, 542...",5053457759207424,True,2017-01-28 22:53:11.934090,airplane
lst151615,GB,"[[[211.70599365234375, 202.66000366210938, 191...",6080648911519744,True,2017-03-10 19:58:28.132620,airplane
lst151616,US,"[[[507, 502, 490, 478, 468, 449, 438, 427, 409...",5292518658801664,True,2017-01-28 02:49:23.222820,airplane
lst151617,US,"[[[674, 679, 684, 690, 698, 706, 715, 724, 732...",5303271306559488,False,2017-03-05 01:56:12.343240,airplane
lst151618,US,"[[[522, 512, 505, 501, 497, 494, 492, 490, 488...",5493275190362112,True,2017-03-02 14:53:50.225510,airplane
lst151619,PH,"[[[362, 363, 367, 375, 381, 387, 394, 412, 420...",4804582200836096,True,2017-03-29 15:40:12.818540,airplane
lst151620,IE,"[[[206.14199829101562, 200.9720001220703, 194....",6511303608762368,True,2017-01-24 21:11:31.576440,airplane
lst151621,US,"[[[252, 242, 235, 226, 220, 215, 209, 203, 197...",4731074292744192,True,2017-01-25 16:45:20.333770,airplane
lst151622,ES,"[[[570, 565, 559, 552, 546, 537, 532, 525, 519...",6323583485739008,True,2017-03-21 12:04:31.544430,airplane

In [37]:
df_r.loc['lst5']

countrycode                                                   US
drawing        [[[639, 631, 619, 601, 574, 539, 498, 456, 410...
key_id                                          5509429904539648
recognized                                                  True
timestamp                             2017-03-02 19:06:55.494650
word                                                    airplane
Name: lst5, dtype: object

In [38]:
df_r.loc[['lst5','lst6','lst7']]

,countrycode,drawing,key_id,recognized,timestamp,word
idxe,,,,,,
lst5,US,"[[[639, 631, 619, 601, 574, 539, 498, 456, 410...",5509429904539648,True,2017-03-02 19:06:55.494650,airplane
lst6,CZ,"[[[605, 604, 604, 602, 602, 602, 601, 601, 601...",4885112569200640,True,2017-03-27 19:32:38.753680,airplane
lst7,AU,"[[[278, 271, 264, 259, 253, 245, 235, 225, 212...",5445677096108032,True,2017-03-29 09:25:50.212600,airplane

In [42]:
df_r.loc['lst5':'lst8']

,countrycode,drawing,key_id,recognized,timestamp,word
idxe,,,,,,
lst5,US,"[[[639, 631, 619, 601, 574, 539, 498, 456, 410...",5509429904539648,True,2017-03-02 19:06:55.494650,airplane
lst6,CZ,"[[[605, 604, 604, 602, 602, 602, 601, 601, 601...",4885112569200640,True,2017-03-27 19:32:38.753680,airplane
lst7,AU,"[[[278, 271, 264, 259, 253, 245, 235, 225, 212...",5445677096108032,True,2017-03-29 09:25:50.212600,airplane
lst8,MY,"[[[417, 417, 416, 416, 416, 416, 417, 417, 420...",6687207765049344,True,2017-03-25 10:17:56.501990,airplane

In [47]:
df_r.loc[['lst6','lst8'],['countrycode','drawing']]

     countrycode                                            drawing
idxe
lst6          CZ  [[[605, 604, 604, 602, 602, 602, 601, 601, 601...
lst8          MY  [[[417, 417, 416, 416, 416, 416, 417, 417, 420...

In [54]:
df_r.iloc[6]

countrycode                                                   CZ
drawing        [[[605, 604, 604, 602, 602, 602, 601, 601, 601...
key_id                                          4885112569200640
recognized                                                  True
timestamp                             2017-03-27 19:32:38.753680
word                                                    airplane
Name: lst6, dtype: object

In [53]:
df_r.iloc[[6,7,9]]

,countrycode,drawing,key_id,recognized,timestamp,word
idxe,,,,,,
lst6,CZ,"[[[605, 604, 604, 602, 602, 602, 601, 601, 601...",4885112569200640,True,2017-03-27 19:32:38.753680,airplane
lst7,AU,"[[[278, 271, 264, 259, 253, 245, 235, 225, 212...",5445677096108032,True,2017-03-29 09:25:50.212600,airplane
lst9,BR,"[[[510, 516, 522, 527, 533, 539, 549, 554, 560...",5838857872343040,True,2017-03-15 23:26:35.328150,airplane

In [52]:
df_r.iloc[6:9]

,countrycode,drawing,key_id,recognized,timestamp,word
idxe,,,,,,
lst6,CZ,"[[[605, 604, 604, 602, 602, 602, 601, 601, 601...",4885112569200640,True,2017-03-27 19:32:38.753680,airplane
lst7,AU,"[[[278, 271, 264, 259, 253, 245, 235, 225, 212...",5445677096108032,True,2017-03-29 09:25:50.212600,airplane
lst8,MY,"[[[417, 417, 416, 416, 416, 416, 417, 417, 420...",6687207765049344,True,2017-03-25 10:17:56.501990,airplane

In [56]:
df_r.iloc[[6,7],[3,2]]

      recognized            key_id
idxe
lst6        True  4885112569200640
lst7        True  5445677096108032